@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

body{
    background-color: rgb(2, 67, 128);
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.head-btn{
    /* background-color: red; */
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    top: 15px;
    right: 30px;
    width: 120px;
    height: 30px;
    background-color: white;
    border-radius: 10px;

}
.head-btn p{
    margin: 5px;
    position: relative;
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 50%;
    transition: ease-in-out .3s;
}

.head-btn p:hover{
    cursor: pointer;
    width: 25px;
    height: 25px;
    margin: auto;
}

#green{
    background-color: #469E4B;
}
#redesh{
    background-color: #AD3F4E;
}
#gray{
    background-color: #495662;
}
#blue{
    background-color: #33409C;
}



.main{
    align-self: center;
    margin:auto auto;
    position: relative;
    top: 230px;
    text-align: center;
    color: white;
}

.main h1{
    font-size: 60px;
    padding: 10px;
    padding-bottom: 20px;
}
.main p{
    font-size: 30px;
    font-weight: 400;
    padding-bottom: 20px;
}
.social a{
    text-decoration: none;
    font-size: 45px;
    padding-right: 20px;
    color: white;
    text-align: center;

}

/* making responsive */

@media (max-width:500px){
    .main h1{
        font-size: 42px;
        margin-bottom: 15px;
    }
    .main p{
        font-size: 25px;
        margin-bottom: 15px;
    }
    .social a{
        font-size: 35px;
    }


}